body {
    background-color: bisque;  
    display: flex;
    align-items: center;
    justify-content: center  
}
#menu{
    width: 500px;
    height: 1000px;
    display: flex;
    justify-content: center;
}

#placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuJauns_kopums {
    display: flex;
    flex-direction: column;
}

#menuJauns_pozicija{
    display: flex;
    justify-content: space-between;
}

#menuSaraksts{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}