body {
    background-color: bisque;  
    display: flex;
    align-items: center;
    justify-content: center  
}
#menu{
    display: flex;
}

#menuSaraksts{
    display: flex;
    align-items: center;
    justify-content: center;
}